<!-- Reusable Quick View Card Component -->
<div
    class="p-4 bg-white dark:bg-surface-dark border border-slate-200 dark:border-border-dark rounded-xl subtle-depth group">
    <div class="flex gap-4 mb-4">
        <div class="size-12 rounded-lg bg-slate-200 dark:bg-slate-700 bg-cover bg-center"
            style="background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuAjcKe-DlFUGRG9YrvA0IB5jytEb-c6FIsogPawOpTsLJMr1t2khvKingRNiaAOeomcniZ1ERs4ldahMRHm4akjamL4sl7jLdwMoLh34Bl6JYGAC6-WeeVqdKtShzu61UCBsjN1KYUGEQSLPA6nxL1Av8eM2pdVyxkBdLCWlSDeR5ly4VD8wXo3IUXidF4B-EPOrq6M0VEcdmz6FwT8V6At3usXIZS0bCnR6WHngTHUmwWWkrWc4esGD0tDLNBFuaBtbjVG8rVPqt4')">
        </div>
        <div>
            <p class="text-xs font-bold dark:text-white">Blackmagic Studio 6K</p>
            <p class="text-[10px] text-slate-500">ID: BM-CAM-901</p>
        </div>
    </div>
    <div class="flex items-center justify-between p-2 rounded-lg bg-slate-50 dark:bg-slate-800/50">
        <div class="flex flex-col">
            <span class="text-[10px] text-slate-500 uppercase font-bold tracking-tighter">Current Location</span>
            <span class="text-xs font-semibold dark:text-slate-300">Auditorium Main</span>
        </div>
        <span class="material-symbols-outlined text-emerald-500 !text-[18px]">check_circle</span>
    </div>
</div>