<!-- Big Uploader -->
<div
    class="md:col-span-2 group relative flex flex-col items-center justify-center border-2 border-dashed border-border-dark hover:border-primary/50 hover:bg-primary/5 rounded-2xl bg-surface-dark/30 p-12 transition-all cursor-pointer">
    <div
        class="size-16 rounded-full bg-slate-800 flex items-center justify-center mb-4 group-hover:scale-110 transition-transform">
        <span class="material-symbols-outlined text-primary text-3xl">add_a_photo</span>
    </div>
    <h5 class="text-white text-lg font-bold mb-2">Upload Asset Photos</h5>
    <p class="text-slate-400 text-sm text-center max-w-sm">
        Capture or drag &amp; drop high-res photos of the asset (Front, Back, and Serial Number plate).
    </p>
    <input class="absolute inset-0 opacity-0 cursor-pointer" multiple="" type="file" />
</div>