<!-- Grid of previews (Placeholder state) -->
<div class="grid grid-cols-4 gap-4 mt-8">
    <div
        class="aspect-square rounded-xl bg-[#101c23] border border-[#315368] flex items-center justify-center relative group overflow-hidden">
        <img class="object-cover w-full h-full opacity-60 group-hover:opacity-100 transition-opacity"
            data-alt="Close up photo of laptop corner showing no damage"
            src="https://lh3.googleusercontent.com/aida-public/AB6AXuBEV11Tg7TSORNsuEkTXgk03XfkygimKhQBWpHnHQPZVV2u8HoFdjW-G-neYGAaVOx5huKSkKaDQNKnrbtvT0qXF_dJ-vbnW_GKdaa4i3Y0VkVUcTX6NHqbrrCmixQA6KupvOn2Az1S9pCngbO6jZms2TjqHyN7xW_4D642akKNrSOMKqp1KoBxAV06JQD6U7pFj9z-l0YXCr3TZolCAVl_3AE7UTy9n1sFXQ0dYip60LPVTgI636zKUWhQzr8zWMMTPdNM22IPgIg" />
        <div
            class="absolute inset-0 flex flex-col items-center justify-center bg-black/40 opacity-0 group-hover:opacity-100 transition-opacity">
            <button class="bg-red-500/80 p-1.5 rounded-full hover:bg-red-500">
                <span class="material-symbols-outlined text-white text-sm">delete</span>
            </button>
        </div>
        <div class="absolute bottom-2 left-2 bg-primary/80 text-[10px] font-bold px-1.5 py-0.5 rounded text-white">Angle
            1</div>
    </div>
    <div
        class="aspect-square rounded-xl bg-[#101c23] border border-[#315368] border-dashed flex flex-col items-center justify-center text-[#315368] hover:text-primary/50 transition-colors">
        <span class="material-symbols-outlined text-2xl">add_a_photo</span>
    </div>
    <div
        class="aspect-square rounded-xl bg-[#101c23] border border-[#315368] border-dashed flex flex-col items-center justify-center text-[#315368]">
        <span class="material-symbols-outlined text-2xl">add_a_photo</span>
    </div>
    <div
        class="aspect-square rounded-xl bg-[#101c23] border border-[#315368] border-dashed flex flex-col items-center justify-center text-[#315368]">
        <span class="material-symbols-outlined text-2xl">add_a_photo</span>
    </div>
</div>